<h1>Welcome </h1>

<% if @user %>
  <div class="mb-3">
    Logged in as: <%= @user.email %>
  </div>
  <div class="mb-3">
    <%= button_to "Logout", logout_path, class: "btn btn-primary", method: :delete %>
  </div>
<% end %>